.icon-check-elem {
	width: 26px;
	height: 26px;
}

.icon-business-card {
	width: 24px;
	height: 16px;
}

.icon-bar-chart {
	width: 24px;
	height: 20px;
}

.icon-location {
	width: 24px;
	height: 19px;
}

.icon-contact {
	width: 24px;
	height: 24px;
}

.icon-compass {
	width: 24px;
	height: 24px;
}

.icon-chat {
	width: 24px;
	height: 24px;
}

.icon-add-file {
	width: 19px;
	height: 24px;
}

.icon-upload-file {
	width: 19px;
	height: 24px;
}

.icon-pagers {
	width: 24px;
	height: 19px;
}

.icon-waves {
	width: 24px;
	height: 19px;
}

.icon-duplicate {
	width: 24px;
	height: 24px;
}

.icon-file-search {
	width: 19px;
	height: 24px;
}

.icon-add-user {
	width: 28px;
	height: 32px;
}

.icon-check {
	width: 18px;
	height: 13px;
}

.icon-cross {
	width: 15px;
	height: 15px;
}

.icon-tel {
	width: 20px;
	height: 20px;
	fill: var(--color-white)
}

.icon-circle-menu {
	width: 38px;
	height: 38px;
}



